body {
    background-image: url('/background.svg');
    background-size: cover;
}

.form {
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 0.5rem;
    font-family: Lora;
    font-size: 19px;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.form-title {
    width: max-content;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    color: white;
}

/* Form Logo */
.form-logo {
    width: 20%;
    height: 6rem;

    position: absolute;
    top: 0;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.form-logo > img {
    width: 100%;
    height: auto;
}

/* Form Field */
.form-field {
    display: flex;
    flex-direction: row;
    padding: 0rem 2rem;
    width: 80%;
}
.form-field > p {
    color: white;
    width: 8rem;
}
.form-field > input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    font-size: 1em;
}
.form-submit {
    padding: 0.3rem;
    width: 5rem;
    font-weight: bold;
    font-size: 25px;
    font-family: Lora;

    margin-top: 0.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Map */
.map {
    background-color: white;
    width: 80%;
    height: 14rem;
    margin-left: 10%;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: height 0.5s ease;
}
.map > img {
    width: 100%;
    height: auto;
}

/* Map Pointers */
.map > .ptr {
  width: 5rem;
  height: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.map > .ptr > img {
  width: 3rem;
  height: 3rem;

  transition: transform 0.2s ease-in-out;
}
.map > .ptr:hover > img {
  transform: scale(1.2);
}

/* Pointers Modal */
.pointers-modal {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 0.5rem;
  background-color: lightgray;
  padding: 1.5rem;
  z-index: 1;

  transition: opacity 0.5s ease;
}
.pointers-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);

  transition: opacity 0.5s ease;
}
.modal-close {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.8rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
  font-size: 1.1rem;
}
.pointers-modal h2 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}
.pointers-modal li {
  margin: 0.5rem 0rem;
  font-size: 1.1rem;
}

#title {
    color: white;
    margin-top: 40px;
    font-family: Playfair Display;
}

/* Footer */
footer {
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    margin-bottom: 0;
    margin-top: 200px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0F382E;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
  
    padding: 1rem 3rem;
  }
  
  footer>* {
    color: #E4D8C5;
  }
  
  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo2-container {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  #logo2 {
    width: 20%;
  }
  
  .form>* {
    font-family: Playfair Display;
  }
  
  #email {
    font-family: Playfair Display;
  }
  
  .form label {
    font-family: Playfair Display;
  }
  
  .credit {
    text-align: center;
  }
  
  .credit p {
    color: white;
  }
  
  #logo {
    font-family: Playfair Display;
  }
  
  .credit>* {
    font-family: Playfair Display;
  }
  
  .credit>h2 {
    width: max-content;
    margin-bottom: 0.3rem;
  }
  
  .credit>p {
    font-size: 0.9rem;
  }

/* Profile Indicator */
.profile-indicator {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}